{
	"ServerUrl": "http://*:8080",
	"EncryptionKey": "IWS1WsfUUEjdhngkJVC8D0",
	
	"AdminDB": "Server=127.0.0.1;Port=3306;Database=PretaAdmin;User=dotnetdev;Password=wjdqhr;CheckParameters=False;AllowUserVariables=True;UseAffectedRows=True;CharSet=utf8mb4;",
	"CommonDB": "Server=127.0.0.1;Port=3306;Database=PretaCommon;User=dotnetdev;Password=wjdqhr;CheckParameters=False;AllowUserVariables=True;UseAffectedRows=True;CharSet=utf8mb4;",
	"LogDB": "Server=127.0.0.1;Port=3306;Database=PretaLog;User=dotnetdev;Password=wjdqhr;CheckParameters=False;AllowUserVariables=True;UseAffectedRows=True;CharSet=utf8mb4;",
	
	"RedisAdmin": "127.0.0.1:6379",
	"RedisAuth": "127.0.0.1:6379",
	"RedisResponse": "127.0.0.1:6379",
}
